/* HospitalSearch.module.css */

.searchSection {
	position: relative;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.searchContainer {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	height: 100px;
	margin-top: 70px;
}

.searchContainer:hover {
	transform: scale(1.009);
}

.selectGroup {
	position: relative;
	flex: 1;
	min-width: 200px;
	max-width: 250px;
}

.selectGroup i {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	color: #00aed0;
	font-size: 18px;
	pointer-events: none;
}

select {
	width: 100%;
	padding: 14px 40px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	background-color: #fafafa;
	font-size: 14px;
	color: #666;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 15px center;
	background-size: 15px;
	transition: border-color 0.3s ease;
}

select:hover,
select:focus {
	border-color: #00aed0;
	outline: none;
}
.dropdown {
	width: 100%;
	padding: 8px;
	font-size: 14px;
	height: 40px; /* Set a fixed height for the dropdown */
	overflow-y: auto; /* Ensure scrollable if options are too many */
	max-height: 250px; /* Limiting dropdown height if it has too many options */
  }

.searchButton {
	background-color: #38d8d5;
	color: white;
	padding: 14px 30px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 10px;
	white-space: nowrap;
	height: 48px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.searchButton:hover {
	background-color: #00aed0;
	transform: translateY(-3px);
}

.searchButton i {
	font-size: 18px;
}

@media (min-width: 1200px) {
	.searchContainer {
		justify-content: space-between;
	}
}

@media (max-width: 768px) {
	.searchContainer {
		flex-wrap: wrap;
		gap: 10px;
	}

	.selectGroup {
		flex-basis: 100%;
		min-width: 100%;
	}

	.searchButton {
		flex: 1;
		margin-top: 10px;
	}
}
