.search-container {
	background-color: #ffffff;
	padding: 40px 20px;
	text-align: center;
	height: 300px;
}
.search-container h2 {
	font-size: 28px;
	margin-bottom: 10px;
	color: #005b80;
}
.search-container p {
	font-size: 18px;
	color: #666;
	margin-bottom: 30px;
}
.search-box {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.search-box select,
.search-box input {
	padding: 12px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #ccc;
	max-height: 48px;
}
.search-box input:hover,.search-box select:hover{
	background-color: #d3c9c947;
}
.search-box button {
	padding: 12px 25px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.search-box button:hover {
	background-color: #0056b3;
}
.suggestion-box {
	position: relative;
	width: 250px;
	max-height: 200px;
	overflow-y: auto;
	margin-top: 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 100;
}
.suggestions-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	max-width: 400px;
	position: relative;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}

.suggestions-list li {
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #eee;
	text-align: left; /* Keep the text aligned */
}

.suggestions-list li:hover {
	background-color: #f4f4f4;
}